<!DOCTYPE html>
<html>
<head>
    <title>Новая партия игры</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/javascripts/canvasHandler.js"></script>
    <script src="/javascripts/howler.min.js"></script>
    <script src="/javascripts/soundMixer.js"></script>
    <script src="/javascripts/grid.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script>
        var socket = io(window.location.origin);
        var timerID;
        var playerName="<%= playerName %>";
        var gameType="<%= gameType %>";
        socket.on('connect', function () {
            socket.emit('readyToplay',{playerName:playerName,gameType:gameType});
        socket.on('intial_step',function(player){
            if(player==playerName){
                document.getElementById("field").addEventListener('mousedown',getPosition);
                console.log("Ваш ход")
            }
            else{
                document.getElementById("field").removeEventListener('mousedown',getPosition);
                console.log("Ходит соперник");
            }
        });

         socket.on("competitor_step", function (coords){
             drawFishka(document.getElementById('field'), (coords.X*50),(coords.Y*50), 'cpu',function(){
                 socket.emit('answ',playerName);
             });
         });

        socket.on('cpu_step', function (data) {

            drawFishka(document.getElementById('field'), data.X, data.Y, 'cpu')
        });
        socket.on('victory', function (data) {
            window.clearInterval(timerID);
            player.stopPlay();
            drawFishka(document.getElementById('field'), data.coords.X, data.coords.Y, 'cpu');
            var content;
            switch (data.winner) {
                case 'cpu':
                    content = "<div class='alert alert-warning' role='alert'><h3>Вы проиграли.\t"+
                            document.getElementById('timerDIV').innerHTML+"</h3></div>";
                    break;
                case 'usr':
                    content = "<div class='alert alert-success' role='alert'><h3>Вы выиграли.\t"+
                            document.getElementById('timerDIV').innerHTML+"</h3></div>";
                    break;
            }
            document.getElementById('modalContainer').innerHTML = content;
            $('.bs-example-modal-lg').modal('show');
            $('.bs-example-modal-lg').on('hidden.bs.modal', function (event) {
                window.location.href='/players-room/'+playerName;
            });
        });
        });
        player.startPlay();
        timerID=startTime(0,0);
        //----------- control buttons handlers -----------------//
        function stopPlayBtn(element) {
            var Element = element;
            var textElement = Element.text();
            var variants = ['Выключить звук', 'Включить звук'];
            if (textElement.trim() == variants[0]) {
                Element.replaceWith(
                        "<button id='playStop' type='button' class='btn btn-default' onclick='stopPlayBtn($(this))'>" +
                        "<span class='glyphicon glyphicon-volume-up' aria-hidden='true'></span>\t" + variants[1] + "</button>");
                // playlist().getCurrentTrack().pause();
                player.stopPlay();
            }
            else {
                Element.replaceWith(
                        "<button id='playStop' type='button' class='btn btn-default' onclick='stopPlayBtn($(this))'>" +
                        "<span class='glyphicon glyphicon-volume-off' aria-hidden='true'></span>\t" + variants[0] + "</button>");
                //sound.play();
                player.continuePlay();
            }
        }
        //--------------------- timer ----------------------------
        function startTime(mm,ss) {
            var minute = mm;
            var second = ss;
            return window.setInterval(function () {
                if(second==59){
                    minute+=1;
                    second=0;
                }
                else{
                    second++;
                }
                if (minute < 10) fm='0' + minute;
                if (second < 10) second = '0' + second;
                document.getElementById('timerDIV').innerHTML = 'Время партии:\t' + fm + ':' + second;
            }, 1000);
        }
    </script>
</head>
<body>

<div class="row">
    <div class="col-md-offset-2 col-lg-offset-2 col-sm-offset-1">
        <div class="btn-toolbar col-lg-8 col-mg-8 col-sm-10" role="toolbar" aria-label="...">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                Пауза
            </button>
            <button id="playStop" type="button" class="btn btn-default" onclick="stopPlayBtn($(this))">
                <span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span>
                Выключить звук
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                Сдаться
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                Правила
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-mg-2 col-sm-1" style="border: 1px solid red">

    </div>
    <div class="panel panel-info col-lg-8 col-mg-8 col-sm-10">
        <div class="panel-heading" id="timerDIV">Время партии: 00:00</div>
        <div class="center-block text-center" id="gameboard">
            <canvas id='field' width="751" height="751">
                <!-- Здесь отрисуем игровое поле -->
            </canvas>
        </div>
    </div>
    <div class="col-lg-2 col-mg-2 col-sm-1" style="border: 1px solid red">
        gdfg
    </div>
</div>
<!--                     constraint a modal message -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="strong">RandZU</h4>
                    <div class="modal-body" id="modalContainer">
                        <!-- message -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
