<!DOCTYPE html>
<html>
  <head>
    <title>Новый игрок</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Для начала игры введите имя</h3>
        </div>
        <div class="panel-body">
            <form action="/new_player" method="post">
                <div class="form-group">
                    <label for="pName">Отображаемое имя в игре:</label>
                    <input type="text" class="form-control" id="pName" name="playerName" required>
                </div>
                <button type="submit" class="btn btn-success">Играть</button>
                </form>
        </div>
        <div class="panel-footer">
            Количество игроков: <span class="badge">0</span>
        </div>
    </div>
  </body>
</html>
