body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.instruction {
  margin-left: 15px;
}
h2.instruction {
  margin-left: 25px;
}
h3.instruction {
  margin-left: 35px;
}
h4.instruction {
  margin-left: 45px;
}
div.nameIndicator{
  width: 65%;
  display: inline-flex;
}
